.ideo-navbar{
    .navbar{
        width: 866px;
        margin: 0 auto;
        transition: width .5s ease;
        .navbar-brand{
            margin-right: 90px;
            img{
                width: 100px;
                transition: width .5s ease;
            }
           
        }
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        font-family: 'Roboto Regular';
                        color: white;
                        text-transform: uppercase;
                        font-size: 17px;
                        padding-left: 0.6rem;
                        padding-right: 0.6rem;;
                    }
                }
            }
        }
    }
}

.sticky{
    .ideo-navbar{
        position: relative;
        .navbar{
            width: 100%;
            transition: width .5s ease;
            background: black;
            height: 86px;
            transition: width .5s ease;
            .navbar-brand{
                position: absolute;
                left: 16%;
                transform: translateX(-18%);
                margin-right: 0;
                img{
                    width: 60px;
                    transition: width .5s ease;

                }
               
            }
            .navbar-collapse{
                .navbar-nav{
                    margin: 0 auto;
                }
            }
        }
    }
}


.sticky{
        position: relative;
        .navbar{
            width: 100%;
            transition: width .5s ease;
            background: black;
            height: 86px;
            transition: width .5s ease;
            .navbar-brand{
                position: absolute;
                left: 16%;
                transform: translateX(-18%);
                margin-right: 0;
                img{
                    width: 60px;
                    transition: width .5s ease;

                }
               
            }
            .navbar-collapse{
                .navbar-nav{
                    margin: 0 auto;
                }
            }
        }
    }
